/*set item description a single line*/
#receipt_items th:first-child, #receipt_items td:first-child{
  max-width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*remove general info*/
#receipt_wrapper > #receipt_general_info{
  display: none;
}

/*remove barcode*/
#receipt_wrapper > #barcode{
  display: none;
}
